.shopping-cart-main {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .shopping-cart-top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    width: 64vw;
  }

  .shopping-cart-heading {
    display: flex;
    align-items: baseline;
    gap: 0px;
    padding: 10px 0;
    
  }

  .shopping-cart-bottomline{
    border-bottom: 1px solid #ddd;
    width: 65vw;
  }
  
  .shopping-cart-heading h1 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .shopping-cart-heading span {
    margin-left: 20px;
    font-size: 0.9em;
  }
  
  .shopping-cart-coursecart{
    margin-top: 20px;
  }
  
  .shopping-cart-coursecart span {
    margin: 0; 
  }
  
  .shopping-cart-color{
    color: #007bff;
  }
  
  .shopping-cart-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .shopping-cart-items {
    width: 65%;
  }
  
  .shopping-cart-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #fff;
  }
  
  .course-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .course-details {
    flex: 1;
  }
  
  
  .course-details h2 {
    margin: 0 0 10px;
    font-size: 1.2em;
  }
  
  .course-details p {
    margin: 5px 0;
    font-size: 0.9em;
  }
  
  .course-details .stars {
    color: #f39c12;
  }
  
  .course-details a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .course-details .remove-link {
    color: #ff4d4f;
  }
  
  .course-price {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .shopping-cart-form {
    width: 25%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    height: auto;
  }
  
  .shopping-cart-form h2 {
    margin-top: 0;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 1em;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    width: 100%;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: black;
  }

  .form-row {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
  }
  
  